.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
	border-radius: 8px;
	width: 100%;
	height: 88px;
	border-radius: 8px;
	margin-bottom: 14px;
}

.card_header {
	display: flex;
	flex-direction: row;
}

.img {
	margin: 14px;
}

.info > .title {
	margin-top: 18px;
	margin-bottom: 4px;
}

.card_footer {
	align-items: center;
  margin: 24px;
}

.card_footer a {
	text-decoration: none;
}