.badge {
	display: flex;
	flex-direction: row;
}

.badge > div {
	padding: 0px 8px;
	box-sizing: border-box;
	font-family: var(--inter-font);
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #b1b9db;
	border: 1px solid #b1b9db;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}