.bio {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.typography_title {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B1B9DB;
}

.typography_description {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.phone, 
.more {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}