.bio {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.typography_title {
  display: flex;
  align-items: center;
  color: #B1B9DB;
}

.typography_description {
  display: flex;
  align-items: center;
  color: #000000;
}

.phone, 
.more {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}